<br><br><br>

<div class="row">
    <h1 class="text-center">{{$ctrl.producto.name | eliminaplataforma}}</h1>
    <div class ="col-md-3">
    <img src="{{ $ctrl.imagen }}"/>


    </div>
    <div class="col-md-8">

        <div class="text-justify" ng-bind-html="$ctrl.descripcion"></div>
        <div class="separated"></div>
        <div class="col-md-8">
        <h3>Datos Relevantes</h3>
        <p><b>Fecha Publicación:</b> {{$ctrl.producto.published_date | date:'dd-MM-yyyy'}} <b>Precio</b> {{ $ctrl.producto.price |currency:"EUR€"}}
        <br><b>Plataforma:</b>{{$ctrl.producto.name | plataforma}}
        </p>
        </div>
        <div class="col-md-3">
            <seller idseller=$ctrl.producto.seller.id></seller>
        </div>
        <a class="btn btn-danger" ng-link="['ListadoProductos']">Volver al listado</a>
</div>
</div>
