<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        <li><input type="text" class="form-control" placeholder="Buscar" name="srch-term" id="srch-term" ng-model="$ctrl.productoSeleccionado"></li>
        <li><button class="btn btn-primary"  ng-click="$ctrl.updateFilter()"><i class="glyphicon glyphicon-search"></i></button></li>
        <li><label>Categorias
            <select ng-model="$ctrl.category" ng-options="categoria.name for categoria in $ctrl.categories" ng-change="$ctrl.updateCategories()"></select>
        </label></li>
            <li><label>Favoritos
                <select ng-model="$ctrl.favorito" ng-options="favorito.name for favorito in $ctrl.favoritos" ng-change="$ctrl.selectFavoritos()"></select>
            </label></li>
            <li><label>Distancias
                <select ng-model="$ctrl.distancias" ng-options="dist.id for dist in $ctrl.grupodistancias" ng-change="$ctrl.updateDistance()"></select>
            </label></li>
    </ul>
    </div>
</nav>
{{$ctrl.grupodistancias}}

<br><br>
<div class="container-fluid">
<div class="row">


    <lista-productos ng-repeat="item in $ctrl.productos" producto="item"></lista-productos>
</div>
</div>
<br><br>
